body {
  background-image: url(4872987.jpg);
  margin: 0;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
header {
  background-color: rgba(17, 17, 11, 0.274);
  padding: 20px;
  text-align: center;
  width: 100%;
}
#title {
  font-family: 'Frijole', system-ui;

  font-size: 90px;
  color: rgb(0, 0, 0);
}
.pink {
  color: rgb(64, 185, 16);
}

.blue {
  color: blue;
}

.purple {
  color: purple;
}
.orange {
  color: orange;
}
h1 {
  font-size: 50px;
  color: rgb(0, 0, 0);
}
.board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 20px;
  padding: 10px;
  background-color: rgb(17, 0, 255);
  margin: 20px;
}
.cell {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
  align-items: center;
  margin: 20px;
  color: white;
  border: 7px solid rgb(6, 6, 54);
}
.cell:hover {
  background-color: rgba(180, 177, 199, 0.829);
}
