body {
  background-image: url(4872987.jpg);
  margin: 0;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
header {
  background-color: rgba(17, 17, 11, 0.274);
  padding: 20px;
  text-align: center;
  width: 100%;
}
#title {
  font-family: 'Frijole', system-ui;

  font-size: 90px;
  color: rgb(0, 0, 0);
}
.pink {
  color: rgb(64, 185, 16);
}

.blue {
  color: blue;
}

.purple {
  color: purple;
}
.orange {
  color: orange;
}
